body{
    background: #333;
    color: white;
    
}
h1 { color: white; font-family: 'Helvetica Neue', sans-serif; font-size: 50px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; }
.admin{
    background-color: grey;
}
#schedule-area {
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
}

#courses {
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    color: black;
    margin: 0;
    width: 50%;
    height: 20px;

  }
table{
    width: 100%;
}
#tut {
    background-color: lightgreen;
}
#lab {
    background-color: lightblue;
}

ol{
    background-color: white;
    color: black;
}
div{
    text-align: right;
    height: 50px;
}
