<div id="search-component">
    <h4><label for="search-box">Course Search</label></h4>
  
    <input #searchBox id="search-box" (input)="search(searchBox.value)" placeholder="subject"/> | <input #searchBox id="search-box2" (input)="search(searchBox.value)" placeholder="course code"/> | <input #searchBox id="search-box3" (input)="search(searchBox.value)" placeholder="compenent"/>
    
    <ul class="courses">
      <li *ngFor="let course of courses$ | async" >
        <a routerLink="/detail/{{course.catalog_nbr}}">
          {{course.subject}}: {{course.catalog_nbr}} {{course.course_info[0].ssr_component}}
        </a>
      </li>
    </ul>

    

  </div>